{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="test1-container"></div>
<div id="test2-container"></div>
<script type="text/javascript" src="{%  static  "js/dist/test1.js"  %}"></script>
<script type="text/javascript" src="{%  static  "js/dist/test2.js"  %}"></script>

<div id="firepad"></div>
<script>
function init() {
    // Initialize Firebase.
    var config = {
        apiKey: "AIzaSyBH4BcB5AZonEW011pWBUok3zUzC-nX940",
        authDomain: "hc-sudden-dev.firebaseapp.com",
        databaseURL: "https://hc-sudden-dev.firebaseio.com",
        projectId: "hc-sudden-dev",
        storageBucket: "",
        messagingSenderId: "98704897205"
    };
    firebase.initializeApp(config);

    // Get Firebase Database reference.
    var firepadRef = getExampleRef();

    // Create Ace editor.
    var editor = ace.edit('firepad');

    // Create Firepad.
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");

    //// Create Firepad.
    var firepad = Firepad.fromACE(firepadRef, editor, {
        defaultText: '// JavaScript Editing with Firepad!\nfunction go() {\n  var message = "Hello, world.";\n  console.log(message);\n}'
    });
}

init();

// Helper to get hash from end of URL or generate a random one.
function getExampleRef() {
    var ref = firebase.database().ref();
    var hash = window.location.hash.replace(/#/g, '');
    if (hash) {
    ref = ref.child(hash);
    } else {
    ref = ref.push(); // generate unique location.
    window.location = window.location + '#' + ref.key; // add it as a hash to the URL.
    }
    if (typeof console !== 'undefined') {
    console.log('Firebase data: ', ref.toString());
    }
    return ref;
}
</script>
{% endblock %}
