body, html {
    height: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Aldrich'
}

#main {
    width: 100%;
    height: 100%;
}

#problem-display {
    padding: 0%;
    padding-bottom: 5%;
    font-size: 1.2em;
    height: auto;
    width: 100%;
    background-color: rgb(20, 20, 20)
    color: white;
}

#problem-itself {
    text-align: center;
}

#your-task {
    padding-top: 2%;
    text-align: center;
    text-decoration: underline;
}

#players-tag {
    padding-left: 5%;
    text-align: center;
}

#others-tag {
    text-align: center;
}

#test-cases-tag {
    text-align: center;
}

#players-sidebar {
    width: 15%;
    height: 80%;
    float: left;
}

#firepad {
    width: 100%;
    height: 100%;
    margin-left: 2%;
    float: left;
    margin-bottom: 5%;
}

#firepad:hover {
    width: 100%;
    height: 100%;
    margin-left: 2%;
    float: left;
    margin-bottom: 5%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.firepad {
    width: 60%;
    height: 450px;
    position: relative;
    float: left;
    margin-right: 2%;
}

#button-group {
    width: 100%;
}

#others-sidebar {
    width: 20%;
    height: 80%;
    margin-left: 1%;
    float: left;
}

#player-button{
    width: 95%;
    height: 10%;
    border: 1px solid black;
    white-space: normal;
    transition-duration: 0.3s
}

#player-button:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    height: 10%;
    border: 1px solid black;
    white-space: normal;
}

#test-button{
    text-align: center;
    width: 95%;
    height: 20%;
    border: 1px solid black;
    border-radius: 4px;
    white-space: normal;
    transition-duration: 0.3s;
    background: purple;
}

#test-button:hover {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 95%;
    height: 10%;
    border: 1px solid black;
    white-space: normal;
}

#run-button {
    align-items: center;
    margin-bottom: 10px;
    width: 95%;
    height: 10%;
    border: 1px solid black;
    transition-duration: 0.3s
}

#run-button:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    height: 10%;
    border: 1px solid black;
    white-space: normal;
}

#other-button {
    margin-bottom: 20px;
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

@keyframes flashBlackRed {
    from {
        background-color: red;
        color: black;
    }
    to {
        background-color: black;
        color: red;}
}

#turn-duration {
    text-align: center;
    height: auto;
    animation-name: flashBlackRed;
    animation-duration: 1s;
    animation-iteration-count: 5;
}

#clock-text {
    font-size: 3em;
    text-align: center;
}

#bottom-tag {
    text-align: center;
}

#bottom-button {
    display: inline-block;
    width: 10%;
    height: 100%;
    margin-left: 10%;
    float: left;
    border: 1px solid black;
}

#bottom-bar {
    display: block;
    width: 90%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#clear-line {
    clear: both;
}

#test-case {
    align-items: center;
    margin-bottom: 10px;
    width: 90%;
    height: 10%;
    border: 1px solid black;
    white-space: normal;
}

#problem-bar {
    display: block;
    width: 40%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3em;
}

#whos-turn {
    font-size: 2em;
    margin-top: -20px;
    margin-bottom: -2px;
}

#time-lines {
    margin: 0em;
}
