{% extends "base.html" %}

{% block content %}
  <h1>Sudden Dev</h1>
  <p class="deck">
    Code Relay Hackerrank Thingy
  </p>
  <p>
    <form id="name-form">
    <input id="name-field">
    <a class="button button-primary" href="{% url 'new_room' %}">Create new chat room</a>
    </form>
  </p>
  <p class="quiet">
    Or, you can visit <code>{{ request.scheme }}://{{ request.get_host }}/any-path-you-want</code> 
    to create a arbitrary room or join one whose name you know.
  </p>
{% endblock content %} 
