{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href={% static 'style/style.css' %}>

<div id="app"></div>
<script src={% static 'js/dist/app.js' %} data-container="#app"></script>

<!--<div id="main">-->
<!--<br id="clear-line"/>-->

<!--<div>-->
    <!--<div id="bottom-bar">-->
        <!--<h2 id="bottom-tag">bottom stuff</h2>-->
        <!--<button id="bottom-button" type="button" class="btn btn-primary">Player1</button>-->
        <!--<button id="bottom-button" type="button" class="btn btn-primary">Player2</button>-->
    <!--</div>-->
<!--</div>-->

<!--<br id="clear-line"/>-->

<script>
function init() {
    // Initialize Firebase.
    var config = {
        apiKey: "AIzaSyBH4BcB5AZonEW011pWBUok3zUzC-nX940",
        authDomain: "hc-sudden-dev.firebaseapp.com",
        databaseURL: "https://hc-sudden-dev.firebaseio.com",
        projectId: "hc-sudden-dev",
        storageBucket: "",
        messagingSenderId: "98704897205"
    };
    firebase.initializeApp(config);

    // Get Firebase Database reference.
    var firepadRef = getExampleRef();

    // Create Ace editor.
    var editor = ace.edit('firepad');

    // Create Firepad.
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/javascript");

    // Create Firepad.
    var firepad = Firepad.fromACE(firepadRef, editor, {
        defaultText: 'def func(num): \n'
    });
}

init();

// Helper to get hash from end of URL or generate a random one.
function getExampleRef() {
    var ref = firebase.database().ref();
    var hash = window.location.hash.replace(/#/g, '');
    if (hash) {
    ref = ref.child(hash);
    } else {
    ref = ref.push(); // generate unique location.
    window.location = window.location + '#' + ref.key; // add it as a hash to the URL.
    }
    if (typeof console !== 'undefined') {
    console.log('Firebase data: ', ref.toString());
    }
    return ref;
}
</script>
{% endblock %}
